body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 10px;
    /* 增加整体内边距 */
}

h1 {
    font-size: 1.7vw;
    /* 使用vw单位使标题大小随屏幕宽度变化 */
    margin-bottom: 1.2vw;
    margin-left: 9.5vw;
    font-weight: bold;
}

.daka-count {
    font-size: 1vw;
    /* 使用vw单位使文字大小随屏幕宽度变化 */
    font-weight: 400;
    margin-left: 9.5vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* 允许网格换行 */
    justify-content: center;
    /* 居中对齐 */
    margin: 0 auto;
    /* 居中容器 */
    max-width: 95vw;
    /* 限制最大宽度 */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1vw, 1fr));
    /* 自适应列数 */
    gap: 0.25vw;
    /* 使用vw单位设置间隙 */
    margin: 0.25vw;
}

.grid-item {
    width: 100%;
    /* 宽度填满网格单元 */
    padding-bottom: 100%;
    /* 创建正方形 */
    background-color: #f1f3f5;
    border-radius: 20%;
    cursor: pointer;
    position: relative;
    /* 为绝对定位的子元素准备 */
}

.grid-item.active {
    background-color: #60a664;
}

.grid-item.today::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    height: 10%;
    background-color: #ec6d71;
    border-radius: 10px;
}

.grid-item.blank {
    background-color: transparent;
    /* 改为透明而不是白色 */
}